<!DOCTYPE html>
<html lang="en">
<head>
<!-- Theme Made By www.w3schools.com - No Copyright -->
<title>CureNX</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body {
font: 400 15px Lato, sans-serif;
line-height: 1.8;
color: #818181;
}
.jumbotron {
background-color: #228B22;
color: #fff;
padding: 100px 25px;
font-family: Montserrat, sans-serif;
}
.container-fluid {
padding: 60px 50px;
}
footer{
width: 100%;
padding: 0;
margin-top: 2%; 
background-color: #228B22;
}

@media screen and (max-width: 768px) {
.col-sm-4 {
text-align: center;
margin: 25px 0;
}
.btn-lg {
width: 100%;
margin-bottom: 35px;
}
}
</style>
</head>
<body id="myPage" data-offset="60">
<div class="jumbotron text-center">
<h3>CureNX</h3>
<h1>AIIMS Hospital</h1> 
</div>
<div class="container">
<div class="container-fluid" style="align-self: center;">
<div class="container">
<div class="container-fluid" style="align-self: center;">
<div class="container" style="align-self: center;">
  <ul class="nav nav-tabs ">
    <li class="active"><a data-toggle="tab" href="#hospitalLogin">Hospital</a></li>
    <li><a data-toggle="tab" href="#clinicLogin">Clinic</a></li>
    <li><a data-toggle="tab" href="#medicalLogin">Medical</a></li>
  </ul>

  <div class="tab-content col-sm-6">
    <div id="hospitalLogin" class="tab-pane fade in active">
      <h3>Hospital Login</h3>
      <form>
          <div class="form-group">
        <label>Registration Number <i class="text-danger">*</i></label>
        <div class="row">
            <div class="col-sm-6">
                <input name="docs" type="text" class="form-control" placeholder="Enter Registration ID" required> 
            </div> 
        </div>
    </div> 
 <div class="form-group">
        <label>Password <i class="text-danger">*</i></label>
        <div class="row">
            <div class="col-sm-6">
                <input name="consultants" type="password" class="form-control" placeholder="Enter Password" required> 
            </div> 
        </div>
    </div>
    <div class="form-group">
        <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>            
            </div> 
    </div>
    </form>
    </div>
    <div id="clinicLogin" class="tab-pane fade">
      <h3>Clinic Login</h3>
 <form>
          <div class="form-group">
        <label>Registration Number <i class="text-danger">*</i></label>
        <div class="row">
            <div class="col-sm-6">
                <input name="docs" type="text" class="form-control" placeholder="Enter Registration ID" required> 
            </div> 
        </div>
    </div> 
 <div class="form-group">
        <label>Password <i class="text-danger">*</i></label>
        <div class="row">
            <div class="col-sm-6">
                <input name="consultants" type="password" class="form-control" placeholder="Enter Password" required> 
            </div> 
        </div>
    </div>
     <div class="form-group">
        <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>            
            </div> 
    </div>

    </form>
        </div>
    <div id="medicalLogin" class="tab-pane fade">
      <h3>Medical Login</h3>
 <form>
          <div class="form-group">
        <label>Registration Number <i class="text-danger">*</i></label>
        <div class="row">
            <div class="col-sm-6">
                <input name="docs" type="text" class="form-control" placeholder="Enter Registration ID" required> 
            </div> 
        </div>
    </div> 
 <div class="form-group">
        <label>Password <i class="text-danger">*</i></label>
        <div class="row">
            <div class="col-sm-6">
                <input name="consultants" type="password" class="form-control" placeholder="Enter Password" required> 
            </div> 
        </div>
    </div>
    <div class="form-group">
        <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>            
            </div> 
    </div>
    </form>
        </div>
    
  </div>
</div>
</div>
</div>
</div>
</div>
<footer class="container-fluid text-center" >
<p>Made with love by MAD!</p>
</footer>
</body>
</html>
