
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Log In - Demo Hospital Limited</title>

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/images/icons/a0ed8ec88e07205e07116f9098844bb8.ico">

        <!-- Bootstrap --> 
        <link href="http://hospitalnew.bdtask.com/demo6/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
                
        <!-- 7 stroke css -->
        <link href="http://hospitalnew.bdtask.com/demo6/assets/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css"/>

        <!-- style css -->
        <link href="http://hospitalnew.bdtask.com/demo6/assets/css/custom.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <!-- Content Wrapper -->
        <div class="login-wrapper"> 
            <div class="container-center">
                <div class="panel panel-bd">
                    <div class="panel-heading">
                        <div class="view-header">
                            <div class="header-icon">
                                <i class="pe-7s-unlock"></i>
                            </div>
                            <div class="header-title">
                                <h3>Demo Hospital Limited</h3>
                                <small><strong>Please Log In</strong></small>
                            </div>
                        </div>
                        <div class="">
                        <br><br>
                            <!-- alert message -->
                                                        
                                                        
                             
                        </div>
                    </div>


                    <div class="panel-body">
                        <form action="http://hospitalnew.bdtask.com/demo6/login" id="loginForm" novalidate method="post" accept-charset="utf-8">
                            <input type="hidden" name="csrf_stream_token" value="5fb465c0bae1cd50e49c3deb5c5ac338" />
                            <div class="form-group">
                                <label class="control-label" for="email">Email Address</label>
                                <input type="text" placeholder="Email Address" name="email" id="email" class="form-control"> 
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password"  placeholder="Password" name="password" id="password" class="form-control"> 
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="user_role">User Role</label>
                                <select name="user_role" class="form-control" id="user_role" >
<option value="" selected="selected">Select User Role</option>
<option value="1">Admin</option>
<option value="2">Doctor</option>
<option value="3">Accountant</option>
<option value="4">Laboratorist</option>
<option value="5">Nurse</option>
<option value="6">Pharmacist</option>
<option value="7">Receptionist</option>
<option value="8">Representative</option>
<option value="9">Case Manager</option>
<option value="10">Patient</option>
</select>
                            </div> 
                            <div> 
                                <button  type="submit" class="btn btn-success">Log In</button> 
                            </div>
                        </form>
                    </div>



                    <div class="panel-footer">
                        <table style="cursor:pointer;font-size:12px" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Pass</th> 
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-role="1">
                                    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="650401080c0b250100080a4b060a08">[email&#160;protected]</a></td>
                                    <td>12345</td> 
                                    <td>Admin</td> 
                                </tr>
                                <tr data-role="2">
                                    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="375358544358457753525a581954585a">[email&#160;protected]</a></td>
                                    <td>12345</td> 
                                    <td>Doctor</td> 
                                </tr>
                                <tr data-role="3">
                                    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ea8b8989859f849e8b849eaa8e8f8785c4898587">[email&#160;protected]</a></td>
                                    <td>12345</td> 
                                    <td>Accountant</td> 
                                </tr>
                                <tr data-role="4">
                                    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7a161b1815081b0e150813090e3a1e1f171554191517">[email&#160;protected]</a></td>
                                    <td>12345</td> 
                                    <td>Laboratorist</td> 
                                </tr>
                                <tr data-role="5">
                                    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c2acb7b0b1a782a6a7afadeca1adaf">[email&#160;protected]</a></td>
                                    <td>12345</td> 
                                    <td>Nurse</td> 
                                </tr>
                                <tr data-role="6">
                                    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="592931382b34383a302a2d193d3c3436773a3634">[email&#160;protected]</a></td>
                                    <td>12345</td> 
                                    <td>Pharmacist</td> 
                                </tr>
                                <tr data-role="7">
                                    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="037166606673776a6c6d6a70774367666e6c2d606c6e">[email&#160;protected]</a></td>
                                    <td>12345</td> 
                                    <td>Receptionist</td> 
                                </tr>
                                <tr data-role="8">
                                    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e2908792908791878c9683968b9487a286878f8dcc818d8f">[email&#160;protected]</a></td>
                                    <td>12345</td> 
                                    <td>Representative</td> 
                                </tr>
                                <tr data-role="9">
                                    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="791a180a1c391d1c1416571a1614">[email&#160;protected]</a></td>
                                    <td>12345</td> 
                                    <td>Case Manager</td> 
                                </tr> 
                                <tr data-role="10">
                                    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="176776637e7279635773727a783974787a">[email&#160;protected]</a></td>
                                    <td>12345</td> 
                                    <td>Patient</td> 
                                </tr> 
                            </tbody>
                        </table>
                    </div> 

                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- jQuery -->
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="http://hospitalnew.bdtask.com/demo6/assets/js/jquery.min.js" type="text/javascript"></script>
        <!-- bootstrap js -->
        <script src="http://hospitalnew.bdtask.com/demo6/assets/js/bootstrap.min.js" type="text/javascript"></script>

        <script type="text/javascript">
        $(document).ready(function() {
            var info = $('table tbody tr');
            info.click(function() {
                var email    = $(this).children().first().text(); 
                var password = $(this).children().first().next().text();
                var user_role = $(this).attr('data-role');  

                $("input[name=email]").val(email);
                $("input[name=password]").val(password);
                $('select option[value='+user_role+']').attr("selected", "selected"); 
            });
        });
        </script>
    </body>
</html>